*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Yardwerk Lawn Care - hero section*/
#hero{
    height:60vh;
    width:100%;
    position:relative;
    
}
/* look up what before does? look up the absoulte and relative?*/
#hero::before{
    /*what does content do and why is it empty?*/
    content:'';
    position:absolute;
    /*look up what inset does?*/
    inset:0;
    background: rgba(16, 107, 21, .8);
    z-index:-1;
}
header h1{
    font-size: 5em;
    margin:0;
    padding:0;
    font-family: the blacklist;
    margin-left:20px;
    color:greenyellow;
    
}
header h2{
    font-size:2.5em;
    margin:0;
    padding:0;
    margin-left:150px;
    color:white;
}

video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index:-2;
}
#wrapper{
   width:100%;
    margin: 0 auto;
    padding:0;
    background:pink;
}
small{
    font-size: .75em;
}

footer{
    margin-top:20px;
}
