*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
#wrapper{
    max-width: 80%;
    background:yellow;
    margin:auto;
}
small{
    font-size: .75em;
}